<% title_tag '重发激活邮件' %>


<div class="row">
  <div class="col-md-6 col-sm-offset-3">
    <div class="card">
      <div class="card-header">重发激活邮件</div>
      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: user_confirmation_path, html: { method: :post }) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "重发激活邮件", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
