<% title_tag '已经激活' %>


<div class="jumbotron">
  <h1 class="display-4">你已经成功激活账号!</h1>
  <p class="lead">
    测试之家（TesterHome）由一线测试工程师发起和运营，社区的主旨是<u>公益</u>，<u>开源</u>，<u>分享</u>，<u>落地</u>。
    社区以推进国内软件测试开源为己任，不遗余力的引入和输出国内外测试工具，紧跟流行技术，是软件测试行业的风向标。

  </p>
  <hr class="my-4">
  <p class="lead">众人拾柴火焰高，期待更多人加入测试之家，一起为中国软件测试做贡献。</p>
  <%= link_to t("common.login"), main_app.new_user_session_path, class: "btn btn-primary btn-jumbotron btn-lg" %>
</div>