<div>
  <ul class='column-channels-list'>
    <li>
      <%= link_to "专栏", [:column_channels, :user_states_category=> '120-129'], class: params[:user_states_category] == '120-129' ? "actived" : "" %>
    </li>
    <li>
      <%= link_to '测试服务', [:column_channels, :user_states_category=> '130-139'], class: params[:user_states_category] == '130-139' ? "actived" : "" %>
  </ul>
  <hr />
  <ul class='column-channels-list'>
    <%Section.all.each  do |section|%>
      <li>
        <%= link_to  section.name, [:column_channels, section_id: section.id], class: params[:section_id] == section.id ? "actived" : '' %>
      </li>
    <%end%>
  </ul>
</div>
