<% reply = notification.target %>
<% if reply.blank? %>
  <div class="media-body">相关信息已删除</div>
<% else %>
  <%
    topic = notification.second_target || reply.topic
  %>

  <% if topic.blank? %>
    <div class="media-body">相关帖子已删除</div>
  <% else %>
  <div class="media-heading">
    <% if topic.is_article? %>
      在文章
      <%= article_title_tag(topic, reply: reply) %> 留言了：
    <% else %>
      在帖子
      <%= topic_title_tag(topic, reply: reply) %> 留言了：
    <% end %>
  </div>
  <% end %>
  <%- if reply.present? -%>
    <div class="media-content summary markdown">
      <%= reply.body_html %>
    </div>
  <%- end -%>
<% end %>
