*, ::before, ::after {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.tw-container {
  width: 100%
}

@media (min-width: 640px) {
  .tw-container {
    max-width: 640px
  }

  .tw-container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .tw-container {
    max-width: 768px
  }

  .tw-container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .tw-container {
    max-width: 1024px
  }

  .tw-container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .tw-container {
    max-width: 1280px
  }

  .tw-container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .tw-container {
    max-width: 1536px
  }

  .tw-container {
    max-width: 1536px
  }
}

.tw-col-span-3 {
  grid-column: span 3 / span 3
}

.tw-m-10 {
  margin: 2.5rem
}

.tw-mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem
}

.tw-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.tw-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.tw-mt-10 {
  margin-top: 2.5rem
}

.tw-mb-2 {
  margin-bottom: 0.5rem
}

.tw-ml-2 {
  margin-left: 0.5rem
}

.tw-ml-6 {
  margin-left: 1.5rem
}

.tw-block {
  display: block
}

.tw-flex {
  display: flex
}

.tw-grid {
  display: grid
}

.tw-w-48 {
  width: 12rem
}

.tw-flex-1 {
  flex: 1 1 0%
}

.tw-grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr))
}

.tw-grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr))
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.tw-items-center {
  align-items: center
}

.tw-justify-between {
  justify-content: space-between
}

.tw-gap-4 {
  gap: 1rem
}

.tw-gap-3 {
  gap: 0.75rem
}

.tw-space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse))
}

.tw-rounded-sm {
  border-radius: 0.125rem
}

.tw-border-0 {
  border-width: 0px
}

.tw-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.tw-bg-red-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity))
}

.tw-bg-yellow-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity))
}

.tw-bg-yellow-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 249 195 / var(--tw-bg-opacity))
}

.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.tw-p-4 {
  padding: 1rem
}

.tw-p-2 {
  padding: 0.5rem
}

.tw-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.tw-text-left {
  text-align: left
}

.tw-text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.tw-font-thin {
  font-weight: 100
}

.tw-font-bold {
  font-weight: 700
}

.tw-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.tw-text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}

.tw-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.tw-underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline
}