@import "~homeland/_vars";

#home_index {
  line-height: 160%;
}

.img-responsive {
  max-width: 100%;
}

.card-header .fa,
.card-header .fas {
  font-size: 16px;
  color: var(--red);
}

.home-icons {
  .item {
    text-align: center;
    margin-bottom: 15px;
    border-radius: 3px;
    background: var(--card-background-color);
    border: 1px;
    border-color: var(--card-border-color);

    .icon {
      display: block;
      a {
        display: block;
        padding: 20px 15px;
      }
      .fa {
        font-size: 60px;
      }
    }
    .text {
      display: block;
      text-align: left;
      background: var(--card-background-color);
      border-top: 1px solid var(--card-border-color);
      font-size: 14px;
      font-weight: bold;

      a {
        display: block;
        color: var(--text-color1);
        padding: 6px 15px;
      }
      a:hover {
        text-decoration: none;
      }
      .fa {
        margin-top: 3px;
      }
      border-radius: 0 0 3px 3px;
    }
    &:hover {
      opacity: 0.75;
    }
  }
  .item1 {
    .icon {
      .fa {
        color: var(--red);
      }
    }
  }
  .item3 {
    .icon {
      .fa {
        color: var(--blue);
      }
    }
  }
  .item2 {
    .icon {
      .fa {
        color: var(--yellow);
      }
    }
  }
  .item4 {
    .icon {
      .fa {
        color: var(--green);
      }
    }
  }
}

h2 {
  font-size: 12px;
  color: var(--text-color2);
  line-height: 100%;
  margin-bottom: 10px;
  text-align: center;
}

#last_topics {
  float: left;
  width: 450px;
}
#hot_topics {
  float: right;
  width: 450px;
}

.node-topics {
  margin-bottom: 0px;
  .head {
    display: none;
  }
}
.location-list {
  .name {
    a {
      color: var(--text-color1);
      margin: 6px;
      display: inline-block;
    }
  }
}

.home_suggest_topics {
  .topics {
    .topic {
      .title {
        height: 30px;
        overflow: hidden;
      }
    }
  }
}

.home-side-bar {
  a:hover {
    text-decoration: none;
  }
  @media (min-width: 992px) {
    padding-left: 0px;
  }
  .sidebar_topic {
    padding: 2px;
    border-bottom: 1px solid var(--topic-item-border-color);
    vertical-align: top;
    .info {
      color: #ABA8A6;
      font-size: 12px;
      a {
        color: #ABA8A6;
      }
    }
    .title {
      margin-bottom: 4px;
      line-height: 18px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    .avatar-small {
      width: 28px;
      height: 28px;
    }

    .top3 {
      color: white;
      background-color: red;
    }
  }
  .sidebar_topic:last-child {
    border-bottom: 0px;
  }

  #hall-of-fames {
    .users-label {
      text-align: center;
    }
    a.users-label-item {
      border: 1px solid rgba(52, 52, 53, 0.23);
      display: inline-block;
      border-radius: 23px;
      padding: 0px 9px 0px 0px;
      margin: 3px;
      color: rgba(0, 0, 0, 0.87);
      text-decoration: none;
    }
    a.users-label-item img {
      border-radius: 50%;
      margin-right: 4px;
      width: 28px;
      height: 28px;
    }
  }


  .ticker-headline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px 0;
    margin: 0;
    font-size: 18px;
  }

  .carousel.vertical .carousel-inner {
    height: 100%;
    width: auto;
    > .item {
      width: auto;
      padding-right: 50px;
      transition: 0.6s ease-in-out top;
      @media all and (transform-3d), (-webkit-transform-3d) {
        transition: 0.6s ease-in-out;
        &.next,
        &.active.right {
          transform: translate3d(0, 100%, 0);
          top: 0;
        }
        &.prev,
        &.active.left {
          transform: translate3d(0, -100%, 0);
          top: 0;
        }
        &.next.left,
        &.prev.right,
        &.active {
          transform: translate3d(0, 0, 0);
          top: 0;
        }
      }
    }
    > .active,
    > .next,
    > .prev {
      display: block;
    }
    > .active {
      top: 0;
    }
    > .next,
    > .prev {
      position: absolute;
      top: 0;
      width: 100%;
    }
    > .next {
      top: 100%;
    }
    > .prev {
      top: -100%;
    }
    > .next.left,
    > .prev.right {
      top: 0;
    }
    > .active.left {
      top: -100%;
    }
    > .active.right {
      top: 100%;
    }
  }

  .carousel.vertical {
    .carousel-control {
      left: auto;
      width: 50px;
      &.up {
        top: 0;
        right: 0;
        bottom: 50%;
      }
      &.down {
        top: 50%;
        right: 0;
        bottom: 0;
      }
    }
  }
}
#carousel-ads {
  .item {
    height: 150px;
  }
}

.tagline {
  width: 100%;
  height: 100%;
  min-height: 54px;
  color: #999;
  padding: 12px 16px;
  box-sizing: border-box;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 20px #f2f2f2;
  transition-duration: .5s;
  overflow: auto;
  margin-left: 0px;
  text-align: center;
  margin-top: 15px;
}
