.tw-container {
  width: 100%
}

@media (min-width: 640px) {
  .tw-container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .tw-container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .tw-container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .tw-container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .tw-container {
    max-width: 1536px
  }
}

.tw-font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

.tw-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.tw-font-bold {
  font-weight: 700
}