<ul class='tw-flex tw-space-x-8'>
  <li>
    <%= link_to  "积分基础设置", admin_credit_settings_path %>
  </li>
  <li>
    <%= link_to  "积分商品管理", admin_credit_products_path %>
  </li>
    <li>
    <%= link_to  "积分订单管理", admin_credit_variant_orders_path %>
  </li>
</ul>
